[submodule "_external/span"]
	path = _external/span
	url = https://github.com/tcbrindle/span.git
[submodule "_external/fmt"]
	path = _external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "_external/plog"]
	path = _external/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "_external/perilune"]
	path = _external/perilune
	url = https://github.com/ousttrue/perilune.git
[submodule "_external/lua"]
	path = _external/lua
	url = https://github.com/lua/lua.git
[submodule "_external/luafilesystem"]
	path = _external/luafilesystem
	url = https://github.com/keplerproject/luafilesystem.git
[submodule "_external/LRDB"]
	path = _external/LRDB
	url = https://github.com/satoren/LRDB.git
